<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head') %>

<body>
    <%- include('./partials/header') %>

    <main>
        <section class="center main-content">
        <h1 class="h1-register">Nuevo posteo</h1>
        <form action= "/" method="get">
            <p><label for="URL">URL</label></p>
            <p><input type="text" name="URL" id="URL" value="" required></p>
            <p><label for="pieImg">Caption</label></p>
            <p><input type="text" name="pieImg" id="pieImg"></p>
            <button type="submit">Enviar</button>
        </form>
        </section>
    </main>

    <%- include('./partials/footer') %>

</body>

</html>