<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head') %>

<body>
    <%- include('./partials/headerLogueado') %>

    <main>
        <section class="center main-content">
        <h1 class="h1-register">Nuevo posteo</h1>
        <form action= "/posteos/agregar" method="post">
            <p><label for="URL">URL</label></p>
            <p><input type="url" name="url" id="url" value="" required></p>
            <p><label for="pieImg">Descripcion</label></p>
            <p><input type="text" name="pieImg" id="pieImg"></p>
            <button class="botonR" type="submit">Enviar</button>
        </form>
        </section>
    </main>

    <%- include('./partials/footer') %>

</body>

</html>