<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head') %>

<body>
    <%- include('./partials/headerLogueado') %>

    <main>
        <section class="center main-content">
        <h1 class="h1-register">Editar perfil</h1>
        <form action= "/usuarios/editarPerfil" method="post">
            <p><label for="nombre">Nuevo Nombre de Usuario</label></p>
            <p><input type="text" name="nombreUsuario" id="nombre" value=""></p>
            
            <p><label for="email">Nuevo Email</label></p>
            <p><input type="email" name="email" id="email"></p>
            
            <p><label for="fechaNac">Cambiar Fecha de nacimiento</label></p>
            <p><input type="date" name="fechaNac" id="fechaNac"></p>
            
            <p><label for="foto">Nueva Foto de perfil</label></p>
            <p><input id="foto" type="text" name="fotoPerfil" value=""></p>
            
            <% if(locals.errors){ %>
                <p style="color: red;" class=“mensajeError”>
                    <%= errors.message %>
                </p>
                <% } %>
            <button class="botonR" type="submit">Enviar</button>
        </form>
        </section>
    </main>

    <%- include('./partials/footer') %>

</body>

</html>