<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head') %>

<body>

<%- include('./partials/header') %>

    <main class="">
        <section class="center main-content">
            <h1 class="h1-register">Inicia sesion</h1>
            <form action= "/" method="get">
                <label for="email">Email</label>
                <input type="email" name="email" id="email" required>
                <label for="contrasenia">Contraseña</label>
                <input type="contrasenia" name="contrasenia" id="contrasenia" required>
                <button type="submit">Iniciar sesion</button>
            </form>
        </section>
    </main>

<%- include('./partials/footer') %>

</body>

</html>