<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head') %>

<body>

<%- include('./partials/header') %>

    <main>
        <section class="center main-content">
        <h1 class="h1-register">Registrate</h1>
            
            <form class="form-register" action= "/login" method="get">
                <label for="nombre">Nombre</label>
                <input type="nombre" name="nombre" id="nombre">
                <label for="email">Email</label>
                <input type="email" name="email" id="email">
                <label for="contrasenia">Contraseña</label>
                <input type="contrasenia" name="contrasenia" id="contrasenia">
                <button type="submit">Registrarse</button>
            </form>
            <li><a class="h1-register" href="/login">Login</a></li>
        
        </section>
    </main>

<%- include('./partials/footer') %>

</body>

</html>